:root {
  --white-color: rgb(255, 255, 255);
  --btn-active: rgb(0, 185, 110);
  --light-color: rgb(139, 153, 156);
  --gradient-linear-blue: rgb(51, 65, 115);
  --gradient-linear-black: rgb(6, 5, 10);
  --bg-progress-bar: rgb(139, 153, 156);
  --bg-current-progress-bar: rgb(255, 255, 255);
  --time-box-color: rgb(230, 230, 230);
}

body {
  background-image: linear-gradient(
    var(--gradient-linear-blue),
    var(--gradient-linear-black)
  );
  color: var(--white-color);
  font-family: sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
}

button {
  background-color: inherit;
  color: inherit;
  border: none;
}

button:hover {
  cursor: pointer;
}

#playlist-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1em 0 4em 0;
}

#cover {
  width: 400px;
}

#below-cover {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2em 0;
}

#track-name {
  font-size: 1.6em;
  font-weight: bolder;
}

#progress-container {
  cursor: pointer;
}

#progress-bar {
  background-color: var(--bg-progress-bar);
  height: 3px;
  width: 100%;
  border-radius: 10px;
}

#current-progress-bar {
  background-color: var(--bg-current-progress-bar);
  border-radius: inherit;
  height: inherit;
  --progress: 0%;
  width: var(--progress);
}

#btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 1em;
}

#time-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: smaller;
  margin-top: 0.4em;
  color: var(--time-box-color);
  font-weight: thin;
}

.btn {
  font-size: 1.4em;
}

.btn-navigate {
  font-size: 3em;
}

.btn-biggest {
  font-size: 4em;
}

.music-container {
  padding: 2rem;
}

.light-color {
  color: var(--light-color);
}

.btn-active {
  color: var(--btn-active);
}


